{% extends "admin_base.html" %}

{% block content %}


      <div class="profile-container">
        <div class="left-panel">
          <div class="card">
            <div class="card-header">
              <h2>Personal Information</h2>
              <button class="edit-btn"><i class="fa-solid fa-pen"></i> Edit</button>
            </div>
            <form class="info-grid">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" value="{{ user.first_name }}" />
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" value="{{ user.last_name }}" />
              </div>
              <div class="form-group">
                <label>Mobile Number</label>
                <input type="text" value="{{ user.mobile }}" />
              </div>
              <div class="form-group">
                <label>Gender</label>
                <select>
                  <option selected>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="form-group">
                <label>Country</label>
                <input type="text" value="{{ user.country }}" />
              </div>
              <div class="form-group">
                <label>State</label>
                <input type="text" value="{{ user.state }}" />
              </div>
              <div class="form-group full-width">
                <label>Email Address</label>
                <input type="email" value="{{ user.email }}" />
              </div>
            </form>
          </div>
        </div>
      
        <div class="right-panel">
          <div class="card center-text">
            <img src="https://i.pravatar.cc/32" alt="User Avatar" class="avatar" />
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p>{{ user.email }}</p>
            
          </div>
          <div class="card">
            <h3>Account Security</h3>
            <button class="outline-btn"><i class="fa-solid fa-key"></i> Change Password</button>
            <button class="outline-btn"><i class="fa-solid fa-lock"></i> Change Transaction PIN</button>
          </div>
        </div>
      </div>
      



      {% endblock content %}

