{% extends "admin_base.html" %}

{% block content %}

<div class="confirm-deposit-card">
  <h2>Deposit Confirmation</h2>
  <p class="intro-text">
    To deposit, you confirm that you are making a USDT deposit using these details:
  </p>

  <div class="deposit-details">
    <p><strong>Amount you are depositing:</strong> ${{ amount_deposited }}</p>
    <p><strong>Your wallet address:</strong> {{ senders_wallet_address }}</p>
    <p><strong>Your wallet network:</strong> {{ senders_wallet_network }}</p>
    <p><strong>Crypto Currency:</strong> USDT</p>
    <p><strong>Time of sending:</strong> {{ estimated_time_of_sending }}</p>
    <p><strong>Your comment if any:</strong> {{ comment }}</p>
  </div>

  <p class="note-text">
    Please click <strong>Confirm</strong> once you are done with the transfer and the admin will review it as soon as possible.<br>
    Or click <strong>Reject</strong> if you want to cancel the deposit.
  </p>

  <div class="action-buttons">
    <button class="btn confirm-btn">
      <i class="fa-solid fa-circle-check"></i> Confirm
    </button>
    <button class="btn reject-btn">
      <i class="fa-solid fa-circle-xmark"></i> Reject
    </button>
  </div>
</div>



{% endblock %}